@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/300/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy/300/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/300/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy/300/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/400/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy/400/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/400/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy/400/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/500/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy/500/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/500/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy/500/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/700/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy/700/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/700/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy/700/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}