@font-face {
    font-family: 'Days One';
    src: local('DaysOne Regular'), local('DaysOne-Regular'),
        url('../../fonts/DaysOne/400/DaysOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}